<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>
<body>
    <h1>Welcome to My Flask App</h1>
    <ul>
        <li><strong>Name:</strong> {{ data.name }}</li>
        <li><strong>Project Name:</strong> {{ data.project_name }}</li>
        <li><strong>Version:</strong> {{ data.version }}</li>
        <li><strong>Hostname:</strong> {{ data.hostname }}</li>
        <li><strong>Date:</strong> {{ data.date }}</li>
    </ul>
</body>
</html>
